body {
    padding: 0 0 0 2em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    padding: 0 2em 0 0;
    /*margin-top: 48px;*/
}
li a{line-height:1.8;}@media(min-width:60em){li a{line-height:1.2;}}
/*li:first-child {*/
    /*margin-top:0;*/
/*}*/
a{
    white-space: nowrap;
    position: relative;
}
.click-link:after{
    content:"";
    padding: 50px;
    position: absolute;
    left:-25px;
    top:-25px;
}
article{
    width: 100%;
}
.article-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.article-header p {
    text-align: end;
    flex-grow: 1;
    margin: 0;
}
.subheader{
    opacity: .7;
}
.signature {
    text-align: end;
}

@media screen and (min-width:36em){
    article{
        width: 33em;
        width: 66ch;
    }
}